.fadein img {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: fade;
    left: 0;
    position: absolute;
    top: 0;
}

@for $i from 1 through 4 {
  .transition-#{$i} {
    animation-delay: 2s * $i;
  }
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
